:root {
  --block-size: 5px;
  --gap-size: 0px;
  --font: monospace;

  --blocks: 100;
  --gs: calc(var(--gap-size) * var(--blocks));
  --bs: calc(var(--blocks) * var(--block-size));
  --box-size: calc(calc(var(--gs) + var(--bs)) - var(--gap-size));

  --marker-size: 18px;
}

@media screen and (max-width: 650px) {
  :root {
    --block-size: 4px;
  }
}
@media screen and (max-width: 550px) {
  :root {
    --block-size: 3px;
  }
}
@media screen and (max-width: 450px) {
  :root {
    --block-size: 2px;
    --gap-size: 0px;
  }
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input {
  width: 30px;
}
.line {
  display: flex;
  gap: var(--gap-size);
}
.box {
  background: hsl(0, 0%, 0%, 5%);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  width: var(--box-size);
  height: var(--box-size);
  gap: var(--gap-size);
  pointer-events: all;
}

.dot {
  width: var(--block-size);
  height: var(--block-size);
  border-radius: 1px;
  /* outline: 1px solid hsl(0, 0%, 0%, 5%); */
}

.marker,
.marker-slot {
  width: var(--marker-size);
  height: var(--marker-size);
  border-radius: 50%;
  font-family: var(--font);
  font-size: 12px;
  font-weight: bold;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.marker {
  --half: calc(calc(var(--marker-size) / 2) * -1);
  --line-height: 5px;
  --pointer-size: 6px;
  --v-height: calc(var(--marker-size) + var(--line-height));

  outline: 1px solid hsl(0, 0%, 0%, 90%);
  position: relative;
  color: white;
  translate: calc(var(--half) + 1px) calc(var(--half) + 1px);
  transition: translate 0.5s, top 0.3s ease, left 0.1s ease;
  z-index: 2;
  grid-area: unit;
}
.markers {
  display: grid;
  grid-template-areas: "unit";
  position: absolute;
  /* translate: 0px -40px; */
}

.marker.selected {
  --half-pointer: calc(var(--pointer-size) / 2);
  --marker-top: calc(calc(var(--v-height) + var(--half-pointer)) * -1);
  translate: calc(var(--half) + 1px) calc(var(--marker-top) + 1px);
}

.marker.selected::before {
  content: "";
  height: var(--pointer-size);
  width: var(--pointer-size);
  border-radius: 50%;
  background: hsl(0, 0%, 0%, 80%);
  position: absolute;
  top: calc(var(--marker-size) + var(--line-height));
}
.marker.selected::after {
  content: "";
  height: var(--line-height);
  width: 2px;
  background: hsl(0, 0%, 0%, 80%);
  position: absolute;
  top: var(--marker-size);
}

.marker-slots {
  z-index: 1;
  position: absolute;
  display: flex;
  gap: 5px;
  padding: 5px;
}

.marker-slot {
  border: 1px solid hsl(0, 0%, 0%, 50%);
  background: hsl(0, 0%, 95%, 100%);
}
.axisx {
  position: absolute;
  width: 2px;
  height: var(--box-size);
  background: hsl(0, 0%, 0%, 20%);
  translate: calc(calc(-5px / 2) + 1px) 0px;
  pointer-events: none;
  z-index: 1;
  transition: left 0.1s ease;
}

.axisy {
  position: absolute;
  width: var(--box-size);
  height: 2px;
  background: hsl(0, 0%, 0%, 20%);
  translate: 0px calc(calc(-5px / 2) + 1px);
  pointer-events: none;
  transition: top 0.3s ease;
  z-index: 1;
}
