:root {
  --block-size: 5px;
  --gap-size: 0px;
  --font: monospace;
}

@media screen and (max-width: 650px) {
  :root {
    --block-size: 4px;
  }
}
@media screen and (max-width: 550px) {
  :root {
    --block-size: 3px;
  }
}
@media screen and (max-width: 450px) {
  :root {
    --block-size: 2px;
    --gap-size: 0px;
  }
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input {
  width: 30px;
}
.line {
  display: flex;
  gap: var(--gap-size);
}
.box {
  --blocks: 100;
  --gs: calc(var(--gap-size) * var(--blocks));
  --bs: calc(var(--blocks) * var(--block-size));
  --size: calc(calc(var(--gs) + var(--bs)) - var(--gap-size));
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  width: var(--size);
  gap: var(--gap-size);
  z-index: 6;
  pointer-events: all;
}

.dot {
  width: var(--block-size);
  height: var(--block-size);
  outline: 1px solid hsl(0, 0%, 0%, 5%);
}

.marker {
  --marker-size: 15px;
  --half: calc(calc(var(--marker-size) / 2) * -1);
  --line-height: 5px;
  --pointer-size: 6px;
  --v-height: calc(var(--marker-size) + var(--line-height));
  border-radius: 50%;
  width: var(--marker-size);
  height: var(--marker-size);
  background: hsl(0, 0%, 0%, 50%);
  position: absolute;
  user-select: none;
  font-family: var(--font);
  font-size: 8px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  translate: calc(var(--half) + 1px) calc(var(--half) + 1px);
}
.marker.selected {
  --half-pointer: calc(var(--pointer-size) / 2);
  --marker-top: calc(calc(var(--v-height) + var(--half-pointer)) * -1);
  translate: calc(var(--half) + 1px) calc(var(--marker-top) + 1px);
}

.marker.selected::before {
  content: "";
  height: var(--pointer-size);
  width: var(--pointer-size);
  border-radius: 50%;
  background: hsl(0, 0%, 0%, 80%);
  position: absolute;
  top: calc(var(--marker-size) + var(--line-height));
}
.marker.selected::after {
  content: "";
  height: var(--line-height);
  width: 2px;
  background: hsl(0, 0%, 0%, 80%);
  position: absolute;
  top: var(--marker-size);
}
